t0 None 0.png
t1 Colistin 0.44.png
t1 Imipenem 0.06.png
t1 Imipenem 0.09.png
t1 Meropenem 0.11.png
t1 Meropenem 0.17.png
t1 None 0.png
t1 Rifampicin 0.34.png
t2 Colistin 0.44.png
t2 Imipenem 0.06.png
t2 Imipenem 0.09.png
t2 Meropenem 0.11.png
t2 Meropenem 0.17.png
t2 None 0.png
t2 Rifampicin 0.34.png
